# HasYield Programs — Environment Variables

# Programs (devnet)
LP_VAULT_PROGRAM_ID=BH6rAqBajhmzjVPoSqyvuyhCphGVWfKGAD7wXwJU9Y7T
LENDING_PROGRAM_ID=J9cqrTyPAajYNUp5ayDQBso7mMAwyatNg7VMpx8wbzwf
TRANSFER_HOOK_PROGRAM_ID=EupPmtNiCUWcPGh4ekjLUVhf5PqZWV8BN5zE7426n9vM

# RPC
RPC_URL=https://api.devnet.solana.com
CLUSTER=devnet

# Deployer wallet (default Solana CLI keypair)
# solana config set --keypair ~/.config/solana/id.json
